.clusterHighLight{
    top: 2px;
    z-index: 1;
    right: -10px;
    position: absolute;
    padding-right: 10px;

    .flag{
        @extend .txt-white, .txt-sz-20, .bold, .txt-up;
        display: none;
        padding: 20px 6px;
        position: relative;
        margin: 0 10px 0 5px;
        
        &.lancamentos {
            top: -4px;
            margin: 0;
            padding: 0;
            width: 43px;
            height: 38px;
            font-size: 0;
            display: block;
            background: url('bt-prod-novo-mob2.png') no-repeat scroll 0 0 transparent;

            &:before{
                top: 3px;
                left: 3px;
                z-index: 1;
                color: #fff;
                display: block;
                font-size: 7px;
                background: none;
                content: 'PRODUTO';
                position: relative;
                font-weight: normal;
            }
    
            &:after{
                left: 3px;
                top: -34px;
                z-index: 1;
                color: #fff;
                display: block;
                content: 'NOVO';
                font-size: 10px;
                background: none;
                position: relative;
                font-weight: normal;
            }
        }
    }
}

.the-flags {
    @include font-size(1.6);
    @extend .txt-darkBlue, .bold, .txt-up;
    left: 0;
    top: 5.89px;
    height: 65px;
    color: #18318e;
    position: absolute;
    padding: 18px 20px 20px 10px;
    clip-path: polygon(0% 0%, 50% 0, 100% 50%, 50% 100%, 0% 100%);
    background: url(/arquivos/bg-flag-discount-v2.png) no-repeat scroll 0 0 transparent;

    span {
        @include font-size(1.7);
        font-weight: lighter;
    }
}

.discountHighLight{
    left: 0;
    top: 7px;
    z-index: 999999;
    position: absolute;

    .flag{
        @extend .txt-darkBlue, .txt-sz-20, .bold, .txt-up;
        margin: 10px 0;
        padding: 10px 5px;
        position: relative;
        display: table-caption;
        &:before{
            left: 0;
            top: 50%;
            height: 0;
            content: '';
            z-index: -1;
            display: block;
            position: absolute;
            height: calc(100% + 8px);
            transform: translateY(-50%);
            border-right: 8px solid #c79c2e;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }
        &:after{
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            content: '';
            height: 100%;
            display: block;
            padding-left: 7px;
            position: absolute;
            background-color: #f0c451;
            padding-right: calc(25% + 7px);
            clip-path: polygon(0% 0%, 50% 0, 100% 50%, 50% 100%, 0% 100%);
        }
    }
}