/* ==========================================================================
   Header
   ========================================================================== */

header{
	width: 100%;
	position: fixed;
	z-index: 99999999 !important;

	.top-box {
		display: none;
	}

	section{
		display: block;
		overflow: hidden;
	}
	
	.TipBar{
		@extend .txt-sz-14, .col-md-8;
		padding: 0;
	    flex-wrap: wrap;
	    align-items: center;
		display: inline-flex;
		
		li{
			padding: 0 25px;
			&:first-of-type{
				padding-left: 0;
			}
		}
	}
	.mid-box{
		@extend .transition;
		padding: 5px 0;
		overflow: visible;
		
		.container{
			display: flex;
			align-items: center;
		}
	}

	.logo{
		padding: 0;
		text-align: center;

		a {
			display: block;
		}
	}
	
	.options{
		text-align: right;
		display: inline-block;

		& > a, button{
			@extend .txt-gray, .txt-dc-none;
			border: 0;
			text-align: left;

			&:not(.search-toggle){
				background: none;
				svg{
					margin: 5px;
				}
			}

			&.btn-account, &.btn-myFavorites{
				display: none;
			}

			.portal-totalizers-ref{
				display: none;
			}

			i{
				display: inline-flex;
			}

			span, .portal-totalizers-ref{
				margin: 5px;
			}

			strong{
				width: 100%;
				display: inline-block;
			}

			&:hover{
				#hover-blue{
					fill: #18318f !important;
				}
			}
		}
	}
	.ambientes{
		padding: 0;
		text-align: right;
		display: inline-block;

		.ambiente{
			@extend .txt-center, .txt-darkerGray, .txt-underline, .txt-lo, .transition;
			min-width: 150px;
			padding: 10px 20px;
			font-weight: bold;
			display: inline-block;
			border: 1px solid transparent;

			&.active, &:hover{
				@extend .bg-white, .txt-gray, .txt-dc-none;
				font-weight: normal;
				border: 1px solid #d1d1d1;
				border-bottom-color: #fff;
			}
		}
	}
}

body.login {
	header {
		z-index: 1 !important;
	}
}