/* ==========================================================================
   Searchform
   ========================================================================== */

.js-open-mobile-search{
	border: none;
	display: flex;
	background-color: transparent;
}

main {
	@extend .transition;
	&.search-active {
		@extend .transition;
		padding-top: 107px;
	}
}

.pager{
	.top {
    display: none;
	}
}

span.resultado-busca-termo {
    display: none;
}

span.resultado-busca-tempo {
    display: none;
}

span.resultado-busca-numero {
    display: none;
}

.btn-buscar, .search-toggle{
    border: 0;
    outline: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background-color: #18318f;

    svg{
    	width: 23px;
    	height: auto;
    }
}
.search-box{
	@extend .transition;
	left: 0;
	top: 55px;
	opacity: 0;
	z-index: 1;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	text-align: right;
	position: absolute;

	&.active{
		@extend .transition;
		opacity: 1;
	}

	.busca{
		position: relative;

		legend,
		label,
		select{
			display: none;
		}

		svg {
			top: 1px;
			right: 1px;
			width: 40px;
			height: 40px;
			padding: 10px;
			position: absolute;
			background-color: #18318f;
		}

		input{
			&.fulltext-search-box{
				@extend .transition;
				@include font-size(1.4);
				outline: 0;
				width: 100%;
				border: none;
				height: 30px;
				padding: 20px;
				color: #bebebe;
				padding-right: 40px;
				background-color: #fff;
				border: 1px solid #bebebe;

				&:focus{
					@extend .txt-gray;
				}
			}

			&.btn-buscar{
		        top: 1px;
				right: 1px;
				opacity: 0;
			    position: absolute;
			    background-size: 60%;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-image: url(/arquivos/search.png);
			}
		}
	}
}
