.box-item{

	.product-image{
		display: block;
		overflow: hidden;
		min-height: 170px;
		position: relative;

		img{
			width: 100%;
			height: auto;
		}
	}

	.lds-heart {
		left: 50%;
		width: 200%;
    height: 200%;
		opacity: 0.9;
		display: none;
		margin-left: -110%;
		position: absolute;
		background-color: #fff;
		transform: rotate(45deg);

		&.active {
			display: inline-block;
		}
	  }
	  .lds-heart div {
    top: 86px;
    left: 111px;
		width: 26px;
		height: 26px;
		position: absolute;
		background: #f68026;
		animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
	  }
	  .lds-heart div:after,
	  .lds-heart div:before {
		content: " ";
		position: absolute;
		display: block;
		width: 26px;
		height: 26px;
		background: #f68026;
	  }
	  .lds-heart div:before {
		left: -17px;
		border-radius: 50% 0 0 50%;
	  }
	  .lds-heart div:after {
		top: -17px;
		border-radius: 50% 50% 0 0;
	  }
	  @keyframes lds-heart {
		0% {
		  transform: scale(0.95);
		}
		5% {
		  transform: scale(1.1);
		}
		39% {
		  transform: scale(0.85);
		}
		45% {
		  transform: scale(1);
		}
		60% {
		  transform: scale(0.95);
		}
		100% {
		  transform: scale(0.9);
		}
	  }
	  

	.buttons{
		@extend .transition;
		display: flex;
		padding-top: 10px;
		align-items: stretch;
	}
	
	.buy-button{
		@extend .btn-add-buy-button-asynchronous;
		flex: 1;
		padding: 10px;
		text-align: center;
		background-color: #00bb4f;
	}
	
	.shelfProductName, .skus-selection{
		padding: 5px 0;
	}

	.shelfBestPrice, .shelfInstallment, .shelfOldPrice{
		margin-top: 2px;
		margin-bottom: 2px;
		display: inline-block;
	}

	.skus-selection{
		@extend .transition;
	}

	.select{
		float: left;
		color: #999;
		margin-right: 2%; 
		position: relative;
		display: inline-block;

		&:after{
    		top: 50%;
    		right: 10px;
			content: '>';
    		position: absolute;
    		pointer-events: none;
    		transform: scaleX(1.5) translateY(-50%) rotate(90deg);
		}

		select{
			color: inherit;
			cursor: pointer;
			appearance: none;
			border-radius: 5px;
			border: 1px solid #999999;
			padding: 5px 25px 5px 15px;
		}

		&.Cor{
			select{
				width: 150px;
			}
		}

		&.Tamanho{
			select{
				width: 100px;
			}
		}
	}

	.price{
		.shelfOldPrice{
			padding-right: 5px;
		}
	}

	.wrapper-buy-button-asynchronous{
		flex: 1;
		height: 100%;
		display: flex;
		align-items: stretch;

		.add{
			width: 100%;
			display: flex;
			align-items: stretch;
		}
		a{
			width: 100%;
		}
	}

	.drop{
		@extend .transition;
		z-index: 99999;
		background: #fff;
		width: calc(100% + 2px);
	}
}