/* ==========================================================================
   Home
   ========================================================================== */

body.home{
	main{

		.box-banner{
			cursor: pointer;
		}

		.banners-orange{
    		width: 100%;
		    float: left;
		    padding: 10px 7px;
		    margin-bottom: 20px;

			.box-banner{
				@extend .col-md-3;
				cursor: pointer;
			}
		}

		.bottom-banners {
			width: 100%;
			float: left;
			margin-top: -30px;
			margin-bottom: 20px;
		}

		.destaque{
			clear: both;
			margin: 20px 0;
			overflow: hidden;

			.banner-destaque,
			.slider-dois{
				display: block;
				width: 100%;
				padding: 0 7px;
			}

			.banner-destaque{
				margin-bottom: 10px;
			}
		}

		.mais-vendidos{
			z-index: 3;
			margin-top: 30px;
			border-bottom: 1px solid #eaeaea;

			ul.slick-dots {
				bottom: -26px;
			}
		}

		.em-promocao{
			z-index: 2;
			padding-top: 10px;
			margin-bottom: 30px;

			ul.slick-dots {
				bottom: -30px;
			}
		}

		.mais-vendidos,
		.em-promocao{
			float: left;
			width: 100%;
			position: relative;
			padding-bottom: 40px;
		}

		.shelf-title{
			flex-wrap: wrap;
			align-items: center;
			display: inline-flex;
			justify-content: center;

			svg{
				width: 40px;
				height: auto;
				display: inline-block;
			}

			h2{
				@extend .regular, .txt-darkerGray, .col-md-12,.txt-sz-30;
				padding: 15px 20px;
				display: inline-block;
			}
		}

		.slider-escolha-por-santos {
			width: 100%;
			float: left;
			position: relative;
			background: url(/arquivos/bg-escolha-santo.jpg) no-repeat 0 0 transparent;

			.slick-dots {
				bottom: -55px;
				margin-left: -55px;

				li {
					width: 12px;
					height: 12px;

					button {
						width: 12px;
						height: 12px;
					}
				}
			}

			h2,
			li,
			img,
			nav {
				margin: 0;
				display: inline-block;
				vertical-align: middle;
			}

			img {
				max-width: 100px;
				margin-top: 23px;
			}

			h2 {
				@include font-size(2);
				top: 40px;
				left: 50%;
				color: #505050;
				font-weight: 400;
				margin-left: -30px;
				position: absolute;
				text-transform: uppercase;

				span {
					@include font-size(2);
					font-weight: bold;
				}
			}

			@media screen and (max-width: 321px)  {
				h2 {
					@include font-size(1.4);
				}
			}

			nav {
				float: right;
				max-width: 55%;
				padding: 0 0 0;
				margin-top: 70px;
				margin-right: 20px;

				ul {
					li {
						margin-right: 5px;

						a {
							@include font-size(0.9);
							@extend .transition;
							color: #fff;
							display: block;
							line-height: 20px;
							font-weight: bold;
							padding: 15px 10px;
							text-align: center;
							border-radius: 5px;
							text-decoration: none;
							background-color: #f68026;
							text-transform: uppercase;

							&:after {
								@extend .transition;
								content: '';
								width: 16px;
								height: 16px;
								margin-left: 5px;
								display: inline-block;
								vertical-align: middle;
								background: url(/arquivos/right-arrow-santo-branco.png) no-repeat scroll 0 0 transparent;
							}
						}
					}
				}
			}
		}
	}
}
