/* ==========================================================================
   Institucional
   ========================================================================== */

body.institucional {

	&.como-comprar,
	&.politica-de-troca {
		
		.title-page {
			&:before{
				@include font-size(1.6);
				width: 30px;
				color: #fff;
				height: 30px;
				content: '?';
				margin-top: 5px;
				line-height: 30px;
				margin-right: 10px;
				border-radius: 50%;
				vertical-align: top;
				font-weight: normal;
				display: inline-block;
				background-color: #f68026;
			}
		}

	    main {
			.main-institucional__content ul {
				margin-top: 25px;
				list-style-type: none;
			
				li {
					line-height: 40px;

					details {
						padding-left: 10px;

						summary {
							color: #585858;
							cursor: pointer;
							font-weight: 600;

							&::-moz-details-marker,
							&::-webkit-details-marker {
								display: none;
							}

							&:hover {
								color: #03378d;
							}

							span {
								@include font-size(2.4);
								color: #808080;
								display: inline !important;

								&:hover {
									color: #f68026;
								}
							}

							p {
								margin: 12px 0;
								line-height: 25px;
								padding-left: 30px
							}
						}
					}
				}
			}
		}
	}

	&.fale-conosco {
		main {
			padding-left: 0 !important;
		}
		
		.success-msg {
			text-align: center;
			padding-bottom: 40px;

			svg {
				margin-right: 20px;
				display: inline-block;
				vertical-align: middle;
			}

			div {
				h3 {
					margin-bottom: 0;
					text-transform: uppercase;
				}
			}
		}

		.form-area {
			h2.title-page {
				color: #f68026;
				text-align: center;
				font-weight: normal;

				i {
					margin-right: 10px;
					vertical-align: -webkit-baseline-middle;
				}

				p.big-title {
					@include font-size(3);
					text-align: center;

					strong {
						font-weight: bold;
					}	
				}

				p.small-title {
					@include font-size(1.4);
					color: #666;
					text-align: center;
				}

				&:before {
					display: none;
				}
			}
		}

		.alert {
			color: #f68026;
			text-align: center;
		}

		#co_form {
			margin-top: 20px;
			overflow: hidden;
			margin-bottom: 20px;

			span.error-msg {
				color: red;
				display: block;
				margin-bottom: 10px;
			}

			.form-field {
				width: 48%;
				margin-right: 8px;
				margin-bottom: 10px;
				vertical-align: top;
				display: inline-block;

				&.cl_assunto,
				&.co_description {
					width: 100%;
				}


				label {
					display: block;
					margin-bottom: 10px;
				}

				legend {
					display: none;
				}

				&.error-msg {
					input,
					select,
					textarea {
						border: 1px solid red;
					}
				}

				input,
				select,
				textarea {
					@include font-size(1.4);
					@extend .transition;
					outline: 0;
					width: 100%;
					height: 30px;
					resize: none;
					color: #bebebe;
					border-radius: 5px;
					background-color: #fff;
					border: 1px solid #bebebe;
					padding: 20px 40px 20px 20px;
				}

				select {
					height: 41px;
				}

				textarea {
					height: 120px;
				}
			}

			input#commit {
				@extend .transition;
				width: 90px;
				height: 30px;
				border: none;
				color: #fff;
				cursor: pointer;
				appearance: none;
				line-height: 3px;
				text-transform: uppercase;
				background-color: #00bb4f;

				&:hover {
					@extend .transition;
					background-color: #f68026;
				}
			}
		}
	}

	.main-institucional__content {
		margin-top: 30px;
		
		h2 {
			@include font-size(2);
			color: #003988;
			margin: 14px 0 0;
			text-transform: uppercase;

			&:before {
				@include font-size(2.2);
				content: '^';
				color: #003988;
				font-weight: 600;
				padding-left: 5px;
				margin-right: 10px;
				display: inline-block;
				-ms-transform: rotate(180deg) scaleX(1.5);
				transform: rotate(180deg) scaleX(1.5)
			}
		}

		ul {
			margin-top: 60px;

			li {
				line-height: 40px;

				a {
					color: #585858;
					cursor: pointer;
					font-weight: 600;
					padding-left: 25px;

					&:hover {
						@extend .transition;
						color: #03378d;
					}

					span {
						display: inline !important;

						&:before {
							@include font-size(1.6);
							content: '^';
							font-weight: 600;
							padding-left: 1px;
							margin-right: 10px;
							display: inline-block;
							-ms-transform: rotate(90deg) scaleX(2);
							transform: rotate(90deg) scaleX(2);
						}

						&.active{
							&:before {
								@include font-size(1.8);
								margin-left: 4px;
								margin-right: 6px;
								-ms-transform: rotate(180deg) scaleX(1.5);
								transform: rotate(180deg) scaleX(1.5)
							}
						}
					}
				}
			}
		}

		#filter {
			margin-top: 0
		}

		.search {
			right: 0;
			top: 56px;
			border: 0;
			z-index: 1;
			width: 100%;
			background: 0 0;
			position: absolute;
		}
	}

	.main-institucional__sidebar {
		margin-top: 25px;
		
		nav {
			padding-top: 10px;

			li {
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid #dedcdc;

				&:last-child {
					margin: 0;
					padding: 0;
					border: none;
				}

				svg {
					g, path {
						fill: #18318e;
					}
				}

				a {
					width: 100%;
					color: #010101;
					display: block;

					&:hover {
						color: #ff6704;

						svg g,
						svg path {
							fill: #ff6704;
						}
					}
				}

				i,
				span,
				svg {
					display: inline-block;
					vertical-align: middle;
				}

				i {
					margin-right: 20px;
				}

				span {
					@include font-size(2.4);
					color: #808080;
					cursor: pointer;
					padding-top: 2px;
					font-weight: normal;
				}

				svg {
					max-width: 25px;
					max-height: 25px;
				}
			}
		}
	}

	main{
    	order: 1;
		display: flex;
        clear: initial;
		flex-wrap: wrap;
        overflow: hidden;
		padding-top: 95px;

		.title-page {
			@include font-size(4);
			color: #003988;
			margin: 20px 0;
			display: block;
			text-align: center;
		}

        @include mq($screen-md){
        	order: 2;
        	padding-left: 50px;
        }
        .box-banner{
        	img{
        		width: 100%;
        		height: auto;
        	}
        }
        article{
        	padding: 15px 0;
        	ul, ol{
        		@extend .txt-justify, .txt-sz-16, .txt-black;
        		padding: 10px 20px 10px 40px;
        		li{
        			padding: 5px 0px;
        		}
        	}
        	h4{
        		@extend .txt-sz-18;
        		padding: 25px 0 15px;
        	}
        }
        a{
    		@extend .transition, .semi-bold;
    		color: inherit;
    		text-decoration: none;
    		&:hover{
    			color: inherit;
    			text-decoration: underline;
    		}
    	}
    	iframe{
    		width: 100%;
    		height: auto;
    		margin: 75px 0;
    		min-height: 450px;
    	}
    	address{
    		@extend .txt-sz-16;
    		padding: 10px 0;
    		font-style: normal;
    	}
        h3{
        	@extend .txt-sz-20;
        	padding: 15px 0;
        }
		p{
			@extend .txt-justify, .txt-sz-16, .txt-black;
			padding: 10px 0;
	    }
	    #lista-lojas{
	    	column-count: 1;
	    	text-align: center;
	    	@include mq($screen-sm){
	    		column-count: 2;
	    	}
	    	@include mq($screen-md){
	    		column-count: 3;
	    	}
	    	figure{
	    		margin: 5px;
	    		text-align: left;
	    		display: inline-block;
	    		img{
	    			width: 100%;
	    			height: auto;
	    		}
	    	}
	    }
	}
}