/* ==========================================================================
   Landing Pais 2018
   ========================================================================== */

body.landing-pais-2018{
    header{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        -webkit-box-shadow: inset 0 94px 24px 3px rgba(0,0,0,.14);
        -moz-box-shadow: inset 0 94px 24px 3px rgba(0,0,0,.14);
        box-shadow: inset 0 94px 24px 3px rgba(0,0,0,.14);

        .mid-box{
            padding: 5px;

            .logo{
                text-align: left;

                svg{
                    width: 150px;
                    height: auto;
                }
            }
            .options{
                padding: 0;

                a, span, em{
                    color: #fff;
                }

                svg{
                    path{
                        fill: #fff;
                    }
                }

                .btn-account,
                #mini-cart{
                    display: inline-block;
                    vertical-align: middle;
                    text-align: right;
                    padding: 0;

                    svg{
                        width: 30px;
                        height: 30px;
                    }

                    span{
                        display: none;
                    }

                }

                .btn-account,
                #mini-cart:hover{
                    svg{
                        path{
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }

    main{
        padding-top: 0 !important;

        .news-pais{
            box-shadow: 0 12px 20px -1px #ccc;
            background-color: #fff;
            border-radius: 5px;
            top: 11%;
            z-index: 999999999;
            overflow: hidden;
            position: absolute;
            left: 50%;
            margin-left: -150px;
            padding: 20px;
            max-width: 300px;
            min-height: 300px;

            .title-box{
                text-align: center;
                
                svg, p{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 14px;
                    color: #1d349e;
                    font-family: 'Mitr', sans-serif;
                }

                svg{
                    margin-right: 5px;
                    width: 30px;
                    height: 30px;
                }

                strong{
                    display: block;
                }

                .obs-promo{
                    display: block;
                    margin: 15px 0;
                    font-size: 12px;
                    color: #bbb;
                    font-weight: lighter;
                }
            }

            .form-newsletter{
                background-color: #fff;

                .fieldset-inputs{
                    .nome, .email{
                        display: block;

                        input{
                            width: 100%;
                            border-radius: 10px;
                            padding: 8px 20px;
                            border: 1px solid #ccc;
                            font-weight: 300;
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                    }

                    .genero{
                        clear: both;
                        display: block;
                        width: 100%;
                        margin: 10px 0;
                        font-weight: 300;
                        font-size: 13px;

                        label{
                            display: inline-block;
                            vertical-align: middle;
                            width: 50%;

                            .checkbox{
                                display: inline-block;
                            }
                        }

                        &:before{
                            content: "Selecione o seu gênero:";
                            display: block;
                            margin-bottom: 5px;
                        }
                    }
                }

                .newsletter-button-ok{
                    border-radius: 10px;
                    padding: 8px 20px;
                    font-size: 14px;
                    background-image: none;
                    background-color: #18318d;
                    color: #fff;
                    cursor: pointer;
                    font-family: Mitr,sans-serif;
                    text-align: center;
                    display: block;
                    margin: 0 auto;
                }
            }

            .success-msg{
                position: absolute;
                background-color: #fff;
                top: 0;
                left: 0;
                padding: 36px 0;
                text-align: center;
                margin: 0 auto;
                width: 300px;

                svg{
                    width: 40px;
                    height: 40px;
                }

                .txt-success{
                    font-family: 'Mitr', sans-serif;
                    color: #767676;
                    font-weight: 200;
                    line-height: 20px;
                    padding: 20px;

                    h3{
                        font-size: 18px;
                        font-weight: 400;
                    }

                    strong{
                        font-size: 15px;
                        font-weight: 400;
                        color: #F08128;
                    }
                }
            }

            @media screen and (min-width: 768px)  {
                .success-msg{
                    width: 100%;
                }
            }

            .error-msg{
                display: block;
                font-weight: 400;
                color: red;
                font-size: 12px;
                margin: 5px 0 0;
            }
        }
        
        .spinner{
            width: 100%;
            padding: 100px 0 0;
            text-align: center;
            background-color: #fff;
            height: 100%;
        }

        @media screen and (min-width: 375px)  {
            .news-pais{
                top: 12%;
            }
        }

        @media screen and (min-width: 414px)  {
            .news-pais{
                top: 13%;
            }
        }

        @media screen and (min-width: 470px)  {
            .news-pais{
                top: 14%;
                max-width: 450px;
                margin-left: -225px;
            }
        }

        @media screen and (min-width: 568px)  {
            .news-pais{
                top: 16%;
            }
        }

        @media screen and (min-width: 667px)  {
            .news-pais{
                top: 17%;
                max-width: 650px;
                margin-left: -325px;
            }
        }

        @media screen and (min-width: 736px)  {
            .news-pais{
                top: 18%;
                max-width: 720px;
                margin-left: -360px;
            }
        }

        .row{
            clear: both;
            display: block;
            overflow: hidden;
        }

        .vestido-com-devocao{
            margin-top: 90%;
        }

        @media screen and (min-width: 375px)  {
            .vestido-com-devocao{
                margin-top: 80%;
            }
        }

        @media screen and (min-width: 414px)  {
            .vestido-com-devocao{
                margin-top: 70%;
            }
        }

        @media screen and (min-width: 470px)  {
            .vestido-com-devocao{
                margin-top: 50%;
            }
        }

        @media screen and (min-width: 736px)  {
            .vestido-com-devocao{
                margin-top: 30%;
            }
        }

        @media screen and (min-width: 768px)  {
            .vestido-com-devocao{
                margin-top: 40%;
            }
        }

        @media screen and (min-width: 1024px)  {
            .vestido-com-devocao{
                margin-top: 10%;
            }
        }

        .para-vestir-com-o-filho{
            margin-bottom: 12%;
        }

        .shelf-pais{
            li{
                text-align: center;

                .shelfOldPrice {
                    position: relative;
                    bottom: unset;
                }

                .shelfBestPrice{
                    font-size: 14px !important;
                }

                .box-item {
                    .drop{
                        margin-top: 0 !important;
                    }

                    .price{
                        height: 70px;
                        overflow: hidden;
                    }
                }

                .buy-button{
                    background-color: #404f90; 
                }

                &:hover{
                    .buy-button{
                        @extend .transition;
                        display: block;
                        background-color: #404f90; 
                    }
                }
            }

            .shelfProductName{
                font-weight: 300;
                margin-top: 10px;
                display: block;
                font-size: 16px;
            }

            .buy-button{
                @extend .transition;
                display: none;
            }
        }

        .shelf-title{
            text-align: center;
            overflow: hidden;
            display: block;
            margin: 5% 0;

            i{
                display: inline-block;
                margin: 0 2px;

                svg{
                    width: 60px;
                    height: 20px;
                }

                &.bullet-after{
                    svg{
                        @include rotate(180deg);
                    }
                }
            }

            h2{
                font-size: 25px;
                color: #404f90;
                font-weight: 400;
                line-height: 40px;
                display: block;
                vertical-align: text-bottom;
            }
        }

        .shelf{
            .slick-slider{
                min-height: 450px;

                .slick-arrow{
                    display: inline-block!important;
                    top: 27%;
                    width: 40px !important;
                    height: 40px;
                    font-size: 0;
                    padding: 0;
                    line-height: 0;
                    cursor: pointer;
                    position: absolute;
                    border: none;
                    padding: 0;
                    z-index: 99999999;

                    &.slick-next{
                        right: -25px;
                    }

                    &.slick-prev{
                        @include rotate(180deg);
                        left: -25px;
                    }
                }
            }

            @media screen and (min-width: 414px)  {
                .slick-slider{
                    min-height: 480px;
                }
            }

            @media screen and (min-width: 568px)  {
                .slick-slider{
                    min-height: 560px;
                }
            }

            @media screen and (min-width: 667px)  {
                .slick-slider{
                    min-height: 600px;
                }
            }

            @media screen and (min-width: 736px)  {
                .slick-slider{
                    min-height: 600px;
                }
            }

            @media screen and (min-width: 768px)  {
                .slick-slider{
                    min-height: 670px;
                }
            }

            @media screen and (min-width: 1024px)  {
                .slick-slider{
                    min-height: 800px;
                }
            }
        }

        .banners-top.slick-slider {
            .slick-arrow {
                @extend .transition;
                display: inline-block!important;
                top: 50%;
                width: 60px!important;
                height: 60px;
                border: none;
                z-index: 99999999;
                position: absolute;
                padding: 0;
                cursor: pointer;
                font-size: 0;
                line-height: 0;
                background-color: #243D9A;
                opacity: 0.8;

                &:hover{
                    @extend .transition;
                    opacity: 1;
                }

                &.slick-next{
                    right: 0;
                }

                &.slick-prev{
                    @include rotate(180deg);
                    left: 0;
                }
            }
        }

        .slick-dots {
            position: absolute;
            bottom: 10px;
            left: 50%;
            list-style: none;
            display: block;
            text-align: center;
            padding: 0;
            width: auto;
            transform: translateX(-50%);
          
            li {
              position: relative;
              display: inline-block;
              width: 8px;
              height: 8px;
              margin: 0 5px;
              padding: 0;
              cursor: pointer;
          
              button {
                border: 0;
                padding: 0;
                width: 15px;
                height: 15px;
                cursor: pointer;
                text-indent: -9999px;
                background-color: #DDDDDD;
                border-radius: 50%;
          
                &:hover,
                &:focus { 
                  background-color: #18318D;
                }
              }
          
              &.slick-active button {
                background-color: #18318D;
              }
            }
        }
    }

    #sugestoes-button{
        font-family: Mitr,sans-serif;
        position: absolute;
        top: 10%;
        width: 250px;
        left: 50%;
        margin-left: -125px;
        background-color: #F89C59;
        overflow: hidden;
        z-index: 999;
        border-radius: 50px;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        

        svg, span{
            display: inline-block;
            vertical-align: middle;
        }

        svg{
            margin-right: 5px;
            width: 20px;
            height: 20px;
        }

        span{
            color: #fff;
            font-size: 13px;
        }
    }

    @media screen and (min-width: 375px)  {
        #sugestoes-button{
            top: 11%;
        }
    }

    @media screen and (min-width: 414px)  {
        #sugestoes-button{
            top: 12%;
        }
    }

    @media screen and (min-width: 470px)  {
        #sugestoes-button{
            top: 13%;
        }
    }

    @media screen and (min-width: 568px)  {
        #sugestoes-button{
            top: 15.3%;
        }
    }

    @media screen and (min-width: 667px)  {
        #sugestoes-button{
            top: 16%;
        }
    }

    footer{
        .Newsletter{
            display: none;
        }
    }
}