/* ==========================================================================
Página de Busca, Categorias e Departamentos
========================================================================== */

body.dep-cat-bus{

	.products-actions {
		display: none;
	}

	#ajaxBusy {
		@include font-size(2);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.9;
		min-height: 365px;
		position: absolute;
		z-index: 9999999999;
		background-color: #fff;

		&:before {
			top: 0;
			left: 0;
			width: 100%;
			color: #fff;
			height: 100%;
			opacity: 0.5;
			display: block;
			position: absolute;
			text-align: center;
			z-index: 9999999999;
			background-color: #000;
		}

		p {
			top: 35%;
			left: 50%;
			opacity: 1;
			width: 300px;
			position: fixed;
			line-height: 35px;
			text-align: center;
			margin-left: -150px;
			display: block!important;

			&:before {
				content: '';
				height: 59px;
				display: block;
				background: url(/arquivos/loja-agape-moda-logo.png) no-repeat scroll center center transparent;
			}
		}
	}

	main {
		overflow: hidden;

		.search-multiple-navigator {
			h3, h4 {
				display: none;
			}
		}

		.texto-departamento{
			@extend .light;
			color: #999;
			border-width: 1px;
			padding: 35px 10px;
			position: relative;
		    margin: 35px 5px 10px;
			border-color: transparent;
			&.tracado{border-style: dashed;}
			i{
				top: 0;
				left: 50%;
				width: 50px;
				height: 50px;
				display: flex;
				position: absolute;
				border-radius: 100%;
				align-items: center;
				justify-content: center;
				transform: translateY(-50%) translateX(-50%);
			}
			&.laranja{
				border-color: #f68026;
				i{background-color:#f68026}
			}
		}
	
		.shelfItem {
			.drop {
				margin-top: 0;

				.price {
					display: block;
					padding-top: 10px;
				}
			}
		}

		.mainShelf{

			.shearchTitle{
				display: none;
			}

			.prateleira{
				li{
					@extend .col-xs-6, .col-md-4;
				}
			}
		}
	}

	.title-category, .didyoumean{
		display:none;
	}

	.category-banner {
		overflow: hidden;
		margin-top: 20px;

		.box-banner {
			img {
			    height: auto;
			    margin-bottom: 10px;
			    width: 100%;
			}
		}
	}

	.sidebar {
		@extend .transition;
		left: 0;
		top: 70px;
		opacity: 0;
		padding: 0;
		height: 100%;
		display: block;
		position: fixed;
		z-index: 999999;
		background: #fff;
		overflow-y: scroll;
		transform: translateX(-100%);

		&.active{
			opacity: 1;
			transform: translateX(0);
		}

		.orderBy,
		.menu-navegue {
			display: none;
		}

		.customRefinar{
			@extend .transition;
		    border: 0;
		    bottom: 0;
		    color: #fff;
		    margin: 15px;
		    display: block;
		    cursor: pointer;
		    position: absolute;
		    padding: 10px 15px;
		    background: #0180b7;
		    width: calc(100% - 30px);
		}
	
		li{
			list-style-type: none;
			a{
				@extend .transition;
				@include font-size(1.4);
				color: #666666;
				padding-left: 0;
				text-decoration: none;
				text-transform: initial;

				&:hover{
					padding-left: 10px;
					text-decoration: underline;
				}
			}
		}
		.navigation-tabs{
			@extend .transition;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 90;
			height: 82%;
			background: #fff;
			overflow-y: scroll;

			@media (max-device-width: 780px) and (orientation: landscape) {
				height: 73%;
			}

			.menu-departamento{
				padding: 0;
			}

			.close-filters{
			    border: 0;
			    float: right;
			    font-size: 25px;
			    background: none;
			    font-weight: 700;
			}
		}
		
	}

	#nav-dep {
		overflow: hidden;

		.right {
			display: flex;
			overflow: hidden;
			align-items: center;
			justify-content: space-between;

			.orderBy{
				@include font-size(1.2);
				float: right;
				text-align: right;
				position: relative;
				white-space: nowrap;
				border: 1px solid #e0e0e0;
				text-transform: uppercase;

				label{
					font-weight: 400;
					vertical-align: middle;
					padding: 10px 0px 10px 10px;
				}

				select{
					@include font-size(1.2);
					border: 0;
					outline: 0;
					font-weight: 400;
					appearance: none;
					text-transform: uppercase;
					padding: 10px 10px 10px 0;
					
					option{
						text-transform: uppercase;	
					}
				}
				&:after{
					@extend .bold;
					@include font-size();
					top: 50%;
					right: 20px;
					content: '^';
					color: #939393;
					position: absolute;
					pointer-events: none;
					transform: translateY(-50%) scaleX(1.8) rotate(180deg);
				}
			}

			.select2-container--default{
				display: none;
			}
		}
	}

	.mainShelf {
		.searchResultsTime {
			display: none;
		}

		.filtrarProdutos{
			@include font-size(1.3);
			@extend .txt-white;
			border: 0;
			outline: 0;
		    padding: 10px 25px;
		    background-color: #f68026;
		}

		.sub{
			display: flex;
			padding: 10px 0;

			.filtrarProdutos{
				width: 50%;
				display: inline-block;
				text-transform: lowercase;
			}
			
			.resultado-busca-filtro{
				flex: 1;
				align-items: center;
				display: inline-flex;
				justify-content: flex-end;
			}
			
			.orderBy{
				text-align: right;
				position: relative;
				display: inline-block;

				label{
					@include font-size(1);
					@extend .txt-orange;
					padding-right: 5px;
				}

				select{
					@include font-size(1.2);
					width: 53%;
					cursor: pointer;
					appearance: none;
					border-radius: 5px;
					padding: 5px 20px 5px 5px;
					border: 1px solid #cbcbcb;
				}

				&:after{
				    top: 14px;
		    		right: 10px;
				    content: '>';
				    color: #cbcbcb;
				    position: absolute;
				    pointer-events: none;
				    transform: scaleX(1.5) translateY(-50%) rotate(90deg);
				}
			}

			.compare, .filterBy{
				display: none;
			}

			&:last-child{
				display: none;
			}
		}

		.pager{
			width: 100%;
			float: left;
			padding: 6% 0;
			display: block;

			ul{
				li{
					@include font-size(1.4);
					@extend .txt-lo, .regular, .txt-gray;
					padding: 8px;
					line-height: 12px;
					border-radius: 5px;
					list-style-type: none;
					display: inline-block;

					&.previous:before, &.next:after{
						@extend .txt-black, .light;
						top: 50%;
						display: block;
						font-size: 34px;
						position: absolute;
						vertical-align: middle;
					    transform: translateY(-50%) scaleY(1.8);
					}

					&.previous{
						position: relative;
						padding-left: 30px;
						&:before{
							left: 0;
							content: "<";
							padding-right: 5px;
						}
					}

					&.next{
						position: relative;
						padding-right: 30px;
						&:after{
							@extend .txt-black, .light;
							right: 0;
							content: ">";
						}
					}
					&.pgCurrent,
					&:hover{
						color: #fff;
						background-color: #f68026;
					}

					&.previous,
					&.next {
						&:hover {
							color: #000;
							background: transparent;
							text-decoration: underline;
						}
					}

					&.first,
					&.last{display: none;}
				}
			}

			&.top{
				display: none;
			}

			&.bottom{
				text-align: center;
			}
		}
	}
}


body.buscavazia{
	.mainShelf{
		.main-tlt{
			@include font-size(2.4);
			line-height: 32px;
			padding: 25px 15px 5px; 
		}

		& > span{
			display: block;
			padding: 5px 15px;
		}
	}
}