.Newsletter{
	overflow: hidden;
	padding: 20px 7px;

	.container{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.Newsletter-image{
		@extend .col-xs-12, .col-md-4;
		padding-top: 20px;
		padding-bottom: 20px;

		.obs-news{
			@extend .txt-sz-16;
			display: block;
			padding-left: 8px;
		}

		img{
			width: 100%;
			height: auto;
		}
	}
	.form-newsletter{
		@extend .col-xs-12, .col-md-8;
		flex-wrap: wrap;
		overflow: hidden;
		align-items: center;
		display: inline-flex;
		justify-content: space-between;
		@include mq($screen-md){
			padding-left: 75px;
			justify-content: flex-start;
		}

		.error-msg {
			color: red;
			display: block;
			margin-top: 8px;
			text-transform: uppercase;
		}

		input{
			@extend .txt-sz-16, .txt-lighterGray;
			width: 100%;
			border-radius: 5px; 
			padding: 10px 15px;
			border: 1px solid #b2b2b2;
			@include mq($screen-md){
				width: 335px;
			}

			&#cl_email{
				@extend .txt-lo;	
			}
		}
		legend{
			@extend .semi-bold;
			transform: translateY(5px)
		}
		fieldset{
			@extend .col-xs-12, .col-md-6;
			padding: 15px 7px;
			display: inline-block;
			&.genero{
				@extend .col-xs-8, .col-md-6;

				.error-msg {
					margin-bottom: 10px;
				}
				
				label{
					align-items: center;
					padding-right: 3.7%;
					display: inline-flex;
				}
			}
		}
		.submit{
			@extend .txt-white, .bold, .txt-sz-18, .txt-up, .transition;
			border: 0;
			outline: 0;
			float: right;
			cursor: pointer;
			padding: 20px 50px;
			border-radius: 5px;
			letter-spacing: 1px;
			background-color: #030237;

			&:hover {
				background-color: #4065b7;
			}

			@include mq($screen-md){
				float: left;
				margin: 7px;
			}
		}
	}
}