.shelfItem {
	@extend .transition,
	.bg-white;
	width: 100%;
	padding: 7px;
	height: 100%;
	display: flex;
	margin: 0 auto;
	max-width: 365px;
	position: relative;
	align-items: center;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid transparent;
	border-bottom: 0;
	.product-image {
		img {
			width: 100%;
			height: auto;
		}
	}
	.buttons {
		@extend .transition;
		display: flex;
		padding-top: 10px;
		pointer-events: none;
		align-items: stretch;
		width: calc(100% + 14px);
		@include mq($screen-md) {
			top: 100%;
			opacity: 0;
			margin-left: -7px;
			margin-top: -72px;
		}
		.btn-favorite {
			border: 0;
			display: flex;
		}
	}
	.buy-button {
		@extend .btn-add-buy-button-asynchronous;
		flex: 1;
	}
	.shelfProductName,
	.skus-selection {
		width: 100%;
		height: 31px;
		padding: 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.shelfOldPrice {
		&:before {
			color: #f68026;
			content: 'De: ';
			display: inline-block;
			text-decoration: line-through;
		}
	}
	.precoCash {
		&:before {
			color: #201e1e;
			content: 'Por Apenas: ';
			display: inline-block;
			text-decoration: none;
			font-size: 20px;
		}
	}
	.shelfBestPrice,
	.shelfInstallment,
	.shelfOldPrice {
		margin-top: 2px;
		margin-bottom: 2px;
		display: inline-block;
	}
	.shelfInstallment~.shelfBestPrice {
		@extend .transition;
		opacity: 0;
	}
	.skus-selection {
		@extend .transition;
		@include mq($screen-md) {
			opacity: 0;
		}
	}
	.select {
		float: left;
		color: #999999;
		margin-right: 2%;
		position: relative;
		display: inline-block;
		&:after {
			top: 50%;
			right: 10px;
			content: '>';
			position: absolute;
			pointer-events: none;
			transform: scaleX(1.5) translateY(-50%) rotate(90deg);
		}
		select {
			color: inherit;
			cursor: pointer;
			appearance: none;
			border-radius: 5px;
			border: 1px solid #999999;
			padding: 5px 25px 5px 15px;
		}
		&.Cor {
			select {
				width: 150px;
			}
		}
		&.Tamanho {
			select {
				width: 100px;
			}
		}
	}
	.price {
		.shelfOldPrice {
			padding-right: 5px;
			&.ln-through {
				text-decoration: line-through;
			}
		}
		.shelfInstallment {
			padding-left: 5px;
			border-left: 2px solid #201e1e;
		}
	}
	.wrapper-buy-button-asynchronous {
		flex: 1;
		height: 100%;
		display: flex;
		align-items: stretch;
		.add {
			width: 100%;
			display: flex;
			align-items: stretch;
		}
		a {
			width: 100%;
		}
	}
	.drop {
		@extend .transition;
		top: 100%;
		left: -1px;
		z-index: 99999;
		background: #fff;
		width: calc(100% + 2px);
		@include mq($screen-md) {
			padding: 0 7px;
			position: absolute;
			transform: translateY(-100%);
			border: 1px solid transparent;
			border-top: 0;
		}
	}
	&:hover {
		@include mq($screen-md) {
			border-color: #888888;
			.skus-selection {
				display: none;
			}
			.drop {
				border-color: #888888;
				transform: translateY(0);
			}
			.buttons {
				opacity: 1;
				margin-top: 0;
				pointer-events: all;
			}
		}
		.shelfBestPrice {
			@extend .transition;
			opacity: 1;
		}
	}
}

.slick-track {
	.shelfItem {
		@include mq($screen-md) {
			padding-bottom: 0;
			border-bottom: 1px solid transparent;
			.drop {
				border: 0;
				padding: 0;
				transform: none;
				margin-top: -25px;
				position: relative;
			}
			.buttons {
				margin-left: -5px;
				width: calc(100% + 12px);
			}
			&:hover {
				border-bottom: 1px solid #888;
				.drop {
					margin-top: 0;
				}
			}
		}
	}
}

body.home {
	.shelfItem {
		max-height: 520px;
	}
}

body.dep-cat-bus {
	.skus-selection {
		display: none;
	}
	.box-item {
		height: 410px;
		&:hover {
			height: 328px;
			.drop {
				padding-top: 0px;
			}
		}
	}
}

body.produto {
	.produtos-similares {
		.shelf-title {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			margin-bottom: 90px;
			flex-direction: column;
			svg {
				width: 75px;
				height: auto;
			}
		}
		h2 {
			display: inline-block;
			font-size: 30px;
			line-height: 34px;
			color: #333;
			text-align: center;
		}
		.prateleira {
			height: 475px;
			margin-bottom: 40px;
			h2 {
				display: none;
			}
		}
	}
	.shelfItem {
		&:hover {
			max-height: auto;
		}
		.shelfProductName {
			height: 60px;
		}
	}
}
