/* ==========================================================================
   SidePanel
   ========================================================================== */

header .menu-header{
	@extend .transition;
	top: 0;
	left: 0;
	margin: 0;
    padding: 0;
	width: 100%;
    z-index: 99;
	height: 100%;
	position: fixed;
	list-style: none;
    max-width: 350px;
	background: #fff;
	transform: translateX(-100%);
	
	@include mq($screen-md){
		width: 100%;
		display: flex;
		max-width: 100%;
		transform: none;
		flex-wrap: wrap;
		box-shadow: none;
		z-index: initial;
		position: relative;
		align-items: stretch;
		justify-content: center;
		background-color: #f68026;
	}

	&.display{
		transform: translateX(0);
		.menu-item{
			@extend .txt-gray;
			background: #f4f4f4;
			border-bottom: 1px solid #e6e7e8;
			.submenu{
				li{
					background: none;
				}
			}
		}
	}

    .container{
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: space-evenly;
    }

    .menuClose{
    	width: 100%;
    	background-color: #f68026;
    	svg{
    		fill: #fff;
    	}
    }

	.menu-item{
	    float: left;
	    width: 100%;
	    display: block;
    	border: 1px 1px solid #c1c1c1;

	    @include mq($screen-md){
	    	@include font-size(1.8);
	    	border: 0;
	    	width: auto;
	    	color: #fff;
	    	line-height: 22px;
	    	display: inline-block;
	    }

	    &.has-sub{
	    	& > a:after{
	    		content: '>';
	    		float: right;
	    		margin-left: 15px;
	    		transform: scaleX(1.5) rotate(90deg);
	    	}
	    }

	    a{
	    	@extend .txt-dc-none, .txt-up, .semi-bold;
	    	color: inherit;
	    	display: block;
			padding: 10px 20px;
			text-decoration: none;
	    }

	    &:hover{
	    	a{
    			text-decoration: underline;
    		}
			.submenu{
				@include mq($screen-md){
					opacity: 1;
					pointer-events: all;
					transform: translateY(0);

					li{
						padding-left: 10px;

						a{
							text-decoration: none !important;
						}
					}
				}
			}
		}

		&.menu-santos{
			.submenu{
				li{
					a{
						text-transform: none !important;
					}
				}
			}
		}
	}

	.submenu {
		@extend .transition;
		left: 0;
		right: 0;
		height: 0;
		padding: 0;
		opacity: 0;
		padding-top: 0;
		min-height: 100%;
		border: 1px solid #BFBFBF;
		background-color: #FFFFFF;
		transform: translateY(-100%);

		@include mq($screen-md){
			top: 100%;
			opacity: 0;
		    z-index: -1;
		    height: auto;
			padding: 15px;
		    margin: 0 auto;
		    display: block;
		    transition: .5s;
		    max-width: 1200px;
			position: absolute;
			pointer-events: none;
			transform: translateY(-100%);
		}

		&.active{
			opacity: 1;
			height: auto;
			transform: translateY(0);
		}

		h3{
			@extend .txt-darkBlue, .txt-sz-24, .txt-lo, .regular;
			margin-bottom: 5px;
		}

		.menu-item{
			@extend .txt-gray, .transition;
			a{
				@extend .txt-lo;
				&:before{
					@extend .bg-gray;
					content: '';
					width: 5px;
					height: 5px;
					user-select: none;
					margin-right: 10px;
					border-radius: 100%;
					pointer-events: none;
					display: inline-block;
					vertical-align: middle;
				}
			}

			&.txt-orange{
				@extend .txt-orange;
				a{
					&:before{
						@extend .bg-orange;
					}
				}
			}

			&:hover{
				padding-left: 10px;
			}
		}

		a{
			@extend .txt-sz-16;
			width: 100%;
			display: block;
			color: inherit;
			padding-left: 40px;
			text-decoration: none;
			@include mq($screen-md){
				padding: 5px 0;
				font-weight: 500;
			}
			&:after{
				content: none;
			}
			&:hover{
				color: #0094d8;
				@include mq($screen-md){
					text-decoration: underline;
				}
				&:before{
					background-color: #0094d8;
				}
			}
		}

		.section-box{
			padding: 0;
			overflow: hidden;

			@include mq($screen-md){
				padding: 0 7px;
				li{
					width: 100%;
					display: block;
				}
			}

			.box-banner{
				display: inline-block;
				a{
					display: block;
					img{
						height: auto;
						max-width: 100%;
					}
				}
			}
		}

		figure{
			display: none;
			@include mq($screen-md){
				display: initial;
				text-align: right;
			}
		}

		img{
			display: block;
		}

		li{
			padding: 0 0 1px 0;
			@include mq($screen-md){
				border: 0;
			}
			a{
			  	display: block;
			}
		}
	}
}