/* ==========================================================================
   Base Classes
   ========================================================================== */

@import "fonts";

body{
	width: 100vw;
	@extend .ff-signikaNegative 


}
.clearfix {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after { clear: both; }
}

.transition {
	transition-duration: .3s;
	transition-timing-function: ease;
}

#ajaxBusy {
	p {
		display: none;
	}
}

img{
	max-width: 100%;
	height: auto;
}
aside, main{
	clear: both;
	box-sizing: border-box;
}
main{
	z-index: 1;
	padding-top: 189px;
	position: relative;
}
input, textarea, select, button{
	font-family: inherit;
	font-size: inherit;
}

.bg-lightBlue{background-color: #0099cc;}

body{
	overflow-x: hidden; 
}

@media (max-width: 1024px) {
	.prateleira {
		.slick-slider {
			min-height: 340px;
		}
	}
}

.lds-heart {
	left: 50%;
	width: 200%;
height: 200%;
	opacity: 0.9;
	display: none;
	margin-left: -110%;
	position: absolute;
	background-color: #fff;
	transform: rotate(45deg);

	&.active {
		display: inline-block;
	}
  }
.lds-heart div {
	top: 86px;
	left: 111px;
	width: 26px;
	height: 26px;
	position: absolute;
	background: #f68026;
	animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
	content: " ";
	position: absolute;
	display: block;
	width: 26px;
	height: 26px;
	background: #f68026;
  }
  .lds-heart div:before {
	left: -17px;
	border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
	top: -17px;
	border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
	0% {
	  transform: scale(0.95);
	}
	5% {
	  transform: scale(1.1);
	}
	39% {
	  transform: scale(0.85);
	}
	45% {
	  transform: scale(1);
	}
	60% {
	  transform: scale(0.95);
	}
	100% {
	  transform: scale(0.9);
	}
  }